<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (psets.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">DOI</th>
                        <th scope="col">Dataset</th>
                        <th scope="col">Dataset Version</th>
                        <th scope="col">Drug Sensitivity</th>
                        <th scope="col">RNA tool</th>
                        <th scope="col">Exome tool</th>
                        <th scope="col">RNA Ref</th>
                        <th scope="col">Exome Ref</th>
                        <th scope="col">Summary Page</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% psets.forEach((pset, index) => { %>
                        <tr>
                            <th scope="row"><%= pset.id %></th>
                            <td><%= pset.dataset %></td>
                            <td><%= pset.dataset_ver %></td>
                            <td><%= pset.drug_sens %></td>
                            <td><%= pset.rnaseq %></td>
                            <td><%= pset.exomeseq %></td>
                            <td><%= pset.rna_ref%></td>
                            <td><%= pset.exome_ref%></td>
                            <td><%= pset.metadata %></td>
                            <td>
                                
                                <a href="/delete/<%= pset.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No PSets have been generated. Go <a href="/requestPSet" >here</a> to generate one.</p>
        <% } %>
    </div>
</div>
</body>
</html>